body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(120deg, #ffe53bd8, #ff2525);
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
   
}


.logo {
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #04006e;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.content-section {
    padding: 2rem;
    background-color: #fff;
    margin: 1rem 0;
}

h2 {
    color:#003366;
    margin-bottom: 1rem;
}

.news-grid, .video-grid {
    display: grid;
    gap: 1rem;
}

.news-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.video-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

article, .video {
    background-color: #e6e6e6;
    padding: 1rem;
    border-radius: 5px;
}

article img, .video video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    background-color: #003366;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #004080;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
    }
    .menu-toggle {
        display: block;
    }
    .menu-open ul {
        display: flex;
    }
    .gallery img {
        width: 100%;
    }
}

audio {
    width: 50%; /* Faz o reprodutor de áudio ocupar a largura total */
    margin-top: 20px; /* Espaçamento acima do reprodutor de áudio */
    background: linear-gradient(120deg, #ffe53bd8,#ff2525);
 
}